
h1, h2, h3, h4, h5, h6 {
    color: #014982;
}

.heading__pre-title,
.counter-item--style-3 .counter-item__lower {
    color: #014982;
}

.event-item__title a,
.event-item__title a:hover {
    color: #014982;
}

section.section {
    position: relative;
    z-index: 0;
    padding: 70px 0;
}

.causes::before {
    height: 100%;
}

.aside-dropdown__inner {
    padding: 50px 0 50px 0;
}

.aside-dropdown__item:nth-of-type(2) {
    margin-top: 25px;
}

.aside-inner:first-of-type {
    margin-top: 30px;
}

.aside-socials {
    margin-top: 30px;
}


.padding-bottom {padding-bottom: 0px !important}
.padding-top {padding-top: 200px !important}

@media only screen and (min-width: 768px)
{
	section.section 
	{
    	padding: 90px 0;
	}
}


@media only screen and (min-width: 992px)
{
	section.section 
	{
    	padding: 120px 0;
	}
}

@media only screen and (min-width: 1200px)
{
	section.section 
	{
    	padding: 90px 0;
	}
}




/*Slider*/

.promo-primary {
	position: relative;
	overflow: hidden
}

.promo-primary .align-container {
	height: 450px;
	padding: 80px 0
}

@media only screen and (min-width:992px) {
	.promo-primary .align-container {
		height: 500px
	}
}

@media only screen and (min-width:1200px) {
	.promo-primary .align-container {
		height: 550px
	}
}

@media only screen and (min-width:1367px) {
	.promo-primary .align-container {
		height: 650px;
		padding: 100px 0
	}
}

@media only screen and (min-width:1600px) {
	.promo-primary .align-container {
		height: 750px;
		padding: 120px 0
	}
}

.promo-primary__pre-title {
	display: inline-block;
	color: #fff;
	
	margin-bottom: 0
}

@media only screen and (min-width:992px) {
	.promo-primary__pre-title {
		margin-bottom: 15px
	}
}

.promo-primary__title {
	
	
}

@media only screen and (min-width:992px) {
	.promo-primary__title {
		
	}
}

@media only screen and (min-width:1200px) {
	.promo-primary__title {
		
	}
}

.promo-primary__title span:nth-of-type(2) {
	
}

.promo-primary__title::after,
.promo-primary__title::before {
	content: "";
	display: block;
	height: 2px;
	position: absolute;
	bottom: -20px
}

@media only screen and (min-width:768px) {
	.promo-primary__title::after,
	.promo-primary__title::before {
		bottom: -30px
	}
}

@media only screen and (min-width:992px) {
	.promo-primary__title::after,
	.promo-primary__title::before {
		bottom: -40px
	}
}

@media only screen and (min-width:1200px) {
	.promo-primary__title::after,
	.promo-primary__title::before {
		bottom: -60px
	}
}

.promo-primary__title::before {
	width: 75px;
	left: 0;
	background-color: #c1f7d5
}

.promo-primary__title::after {
	width: 25px;
	left: 80px;
	background-color: #aca7ba
}

.promo-primary__description {
	position: absolute;
	bottom: -20px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 100%;
	max-width: 1600px;
	text-align: right
}

.promo-primary__description span {
	color: #c1f7d5;
	
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

@media only screen and (min-width:768px) {
	.promo-primary__description span {
		
	}
}

@media only screen and (min-width:992px) {
	.promo-primary__description span {
		
	}
}

@media only screen and (min-width:1200px) {
	.promo-primary__description span {
		
	}
}

@media only screen and (min-width:1367px) {
	.promo-primary__description span {
		
	}
}

.promo-primary--elements .align-container,
.promo-primary--shop .align-container {
	height: 450px
}

@media only screen and (min-width:992px) {
	.promo-primary--elements .align-container,
	.promo-primary--shop .align-container {
		height: 530px
	}
}

.promo {
	position: relative
}

.promo .slider__nav {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row
}

@media only screen and (min-width:992px) {
	.promo .slider__nav {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column
	}
	.promo .slider__arrows {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row
	}
}

@media only screen and (min-width:992px) {
	.promo .slider__arrows {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column
	}
}

.promo .slider__prev {
	margin: 0 13px 0 0
}

@media only screen and (min-width:992px) {
	.promo .slider__prev {
		margin: 0 0 13px 0
	}
}

.promo+.section::before {
	display: none
}

@media only screen and (min-width:1367px) {
	.promo+.section::before {
		content: "";
		display: block;
		height: 100%;
		width: 80px;
		position: absolute;
		top: 0;
		left: 0;
		background: #fff
	}
}

.promo-slider__wrapper-1,
.promo-slider__wrapper-2,
.promo-slider__wrapper-3 {
	opacity: 0;
	-webkit-transition: all .6s;
	-o-transition: all .6s;
	transition: all .6s;
	-webkit-transform: translateY(30px);
	-ms-transform: translateY(30px);
	transform: translateY(30px)
}

.slick-current .promo-slider__wrapper-1,
.slick-current .promo-slider__wrapper-2,
.slick-current .promo-slider__wrapper-3 {
	opacity: 1;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0)
}

.slick-current .promo-slider__wrapper-1 {
	-webkit-transition-delay: .3s;
	-o-transition-delay: .3s;
	transition-delay: .3s
}

.slick-current .promo-slider__wrapper-2 {
	-webkit-transition-delay: .6s;
	-o-transition-delay: .6s;
	transition-delay: .6s
}

.slick-current .promo-slider__wrapper-3 {
	-webkit-transition-delay: .9s;
	-o-transition-delay: .9s;
	transition-delay: .9s
}

.promo-slider__button {
	padding: 17px 45px
}

.promo-slider__item {
	position: relative
}

.promo-slider .align-container {
	height: auto;
	padding: 120px 0 250px 0
}

@media only screen and (min-width:768px) {
	.promo-slider .align-container {
		height: 700px;
		padding: 200px 0
	}
}

@media only screen and (min-width:992px) {
	.promo-slider .align-container {
		height: 100%
	}
}

@media only screen and (min-width:1200px) {
	.promo-slider .align-container {
		height: 100%
	}
}

.promo-slider__item--style-1 .promo-slider__title span:first-of-type {
	
	color: #fff;
	
	letter-spacing: -.050em;
	width: 100%;
	max-width: 810px
}

@media only screen and (min-width:576px) {
	.promo-slider__item--style-1 .promo-slider__title span:first-of-type {
		
		
	}
}

@media only screen and (min-width:768px) {
	.promo-slider__item--style-1 .promo-slider__title span:first-of-type {
		
		
	}
}

@media only screen and (min-width:992px) {
	.promo-slider__item--style-1 .promo-slider__title span:first-of-type {
		
		
	}
}

@media only screen and (min-width:1200px) {
	.promo-slider__item--style-1 .promo-slider__title span:first-of-type {
		
		
	}
}

@media only screen and (min-width:1367px) {
	.promo-slider__item--style-1 .promo-slider__title span:first-of-type {
		
	
	}
}

.promo-slider__item--style-1 .promo-slider__title span:nth-of-type(2) {
	
	
}

@media only screen and (min-width:576px) {
	.promo-slider__item--style-1 .promo-slider__title span:nth-of-type(2) {
		
	}
}

@media only screen and (min-width:768px) {
	.promo-slider__item--style-1 .promo-slider__title span:nth-of-type(2) {
		
	}
}

@media only screen and (min-width:992px) {
	.promo-slider__item--style-1 .promo-slider__title span:nth-of-type(2) {
	
	}
}

.promo-slider__item--style-1 .promo-slider__subtitle {
	
}

.promo-slider__item--style-1 .promo-slider__button {
	color: #fff;
	width: 100%;
	max-width: 210px;
	margin-top: 35px
}

.promo-slider__item--style-1 .promo-slider__button:hover {
	color: #354463
}

.promo-slider__item--style-2 {
	color: #fff
}

.promo-slider__item--style-2 .promo-slider__title {
	
}

@media only screen and (min-width:576px) {
	.promo-slider__item--style-2 .promo-slider__title {
		
	}
}

@media only screen and (min-width:768px) {
	.promo-slider__item--style-2 .promo-slider__title {
		
	}
}

@media only screen and (min-width:992px) {
	.promo-slider__item--style-2 .promo-slider__title {
		
	}
}

@media only screen and (min-width:1200px) {
	.promo-slider__item--style-2 .promo-slider__title {
		
	}
}

.promo-slider__item--style-2 .promo-slider__title span:nth-of-type(2) {
	
}

.promo-slider__item--style-2 .promo-slider__subtitle {
	
}

.promo-slider__item--style-2 .promo-slider__button {
	color: inherit;
	width: 100%;
	max-width: 210px;
	margin-top: 30px
}

.promo-slider__item--style-2 .promo-slider__button:hover {
	color: #354463
}

.promo-slider__item--style-3 {
	color: #fff;
	text-align: center
}

.promo-slider__item--style-3 .promo-slider__title {
	
}

@media only screen and (min-width:576px) {
	.promo-slider__item--style-3 .promo-slider__title {
		
	}
}

@media only screen and (min-width:768px) {
	.promo-slider__item--style-3 .promo-slider__title {
		
	}
}

@media only screen and (min-width:992px) {
	.promo-slider__item--style-3 .promo-slider__title {
		
	}
}

@media only screen and (min-width:1200px) {
	.promo-slider__item--style-3 .promo-slider__title {
		
	}
}

.promo-slider__item--style-3 .promo-slider__title span:nth-of-type(2) {
	
}

.promo-slider__item--style-3 .promo-slider__subtitle {
	
}

.promo-slider__item--style-3 .promo-slider__button {
	color: inherit;
	width: 100%;
	max-width: 210px;
	margin-top: 30px;
	padding: 17px 45px
}

.promo-slider__item--style-3 .promo-slider__button:hover {
	color: #354463
}

.promo-socials {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	padding: 0
}

.promo-socials__item {
	list-style: none
}

.promo-socials__item:not(:last-of-type) {
	margin-right: 30px
}

.promo-socials__link {
	color: #fff;
	-webkit-transition: opacity .3s;
	-o-transition: opacity .3s;
	transition: opacity .3s
}

.promo-socials__link:hover {
	color: #fff;
	opacity: .75
}

.promo-pannel {
	position: absolute;
	bottom: 40px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.promo-pannel__anchor {
	position: absolute;
	bottom: 0;
	left: 0;
	text-decoration: none;
	display: none;
	width: 80px;
	min-height: 200px;
	background: #fff
}

@media only screen and (min-width:1367px) {
	.promo-pannel__anchor {
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex
	}
}

.promo-pannel__anchor span {
	
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	margin: auto;
	-webkit-transition: color .3s;
	-o-transition: color .3s;
	transition: color .3s
}

.promo-pannel__video {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	min-height: 140px;
	max-width: 290px;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

@media only screen and (min-width:576px) {
	.promo-pannel__video {
		max-width: 335px
	}
}

@media only screen and (min-width:768px) {
	.promo-pannel__video {
		min-height: 160px
	}
}

@media only screen and (min-width:992px) {
	.promo-pannel__video {
		right: 0;
		left: auto;
		height: 200px
	}
}

.promo-pannel__video img {
	z-index: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-transition: -webkit-transform 1s;
	transition: -webkit-transform 1s;
	-o-transition: transform 1s;
	transition: transform 1s;
	transition: transform 1s, -webkit-transform 1s
}

.promo-pannel__video:hover img {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2)
}

.promo-pannel__video .video-trigger {
	color: #fff;
	position: relative;
	z-index: 2;
	margin: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-decoration: none
}

.promo-pannel__video .video-trigger span {
	-webkit-transition: color .3s;
	-o-transition: color .3s;
	transition: color .3s
}

.promo-pannel__video .video-trigger i {
	/*color: #354463;*/
	height: 45px;
	width: 45px;
	border-radius: 50%;
	/*text-align: center;
	line-height: 45px;
	background-color: #fff;*/
	margin-left: 20px;
	-webkit-transition: background-color .3s;
	-o-transition: background-color .3s;
	transition: background-color .3s
}

.promo-pannel__video .video-trigger:hover i {
	background-color: #c1f7d5
}

.promo-pannel__video .video-trigger:hover span {
	color: #c1f7d5
}

.promo-pannel__title {
	
}

.promo-pannel__link {
	
}

.promo-pannel__link:hover {
	color: #fff;
	opacity: .75
}

.promo-pannel__link:not(:last-of-type) {
	margin-bottom: 3px
}

.promo-pannel__phones {
	width: 100%;
	max-width: 205px;
	padding: 15px 35px 15px 0
}

.promo-pannel__email,
.promo-pannel__phones,
.promo-pannel__socials {
	padding: 15px 35px;
	display: none
}

@media only screen and (min-width:992px) {
	.promo-pannel__email,
	.promo-pannel__phones,
	.promo-pannel__socials {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start
	}
}

.promo-pannel__email {
	width: 100%;
	max-width: 230px
}

.slider__nav {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row
}

.slider__nav--promo {
	position: absolute;
	bottom: 160px;
	left: 35px
}

@media only screen and (min-width:768px) {
	.slider__nav--promo {
		bottom: 45px;
		right: 15px;
		left: auto
	}
}

@media only screen and (min-width:992px) {
	.slider__nav--promo {
		right: 40px;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%)
	}
}

.promo-slider__count {
	
}

.promo-slider__count::after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 1px;
	width: 70px;
	margin: 0 30px;
	background: #fff;
	opacity: .34
}

@media only screen and (min-width:576px) {
	.promo-slider__count::after {
		width: 120px
	}
}

@media only screen and (min-width:992px) {
	.promo-slider__count::after {
		display: block;
		width: 1px;
		height: 120px;
		margin: 30px auto
	}
}

.slider__arrows {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex
}

.slider__next,
.slider__prev {
	display: -webkit-inline-box!important;
	display: -ms-inline-flexbox!important;
	display: inline-flex!important;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
	color: #fff;
	height: 45px;
	width: 45px;
	border: 2px solid #a5d3be;
	border-radius: 50%;
	bacground: transparent;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s
}

.slider__prev {
	margin-right: 17px
}

.slider__next:hover,
.slider__prev:hover {
	color: #354463;
	background-color: #a5d3be
}

.promo--front_2 .slider__nav--promo {
	top: auto;
	right: auto;
	left: 15px;
	bottom: 160px;
	-webkit-transform: translate(0);
	-ms-transform: translate(0);
	transform: translate(0);
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row
}

@media only screen and (min-width:768px) {
	.promo--front_2 .slider__nav--promo {
		bottom: 45px;
		right: 30px;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: start
	}
}

@media only screen and (min-width:1367px) {
	.promo--front_2 .slider__nav--promo {
		right: 65px
	}
}

.promo--front_2 .promo-slider__count::after {
	display: inline-block;
	vertical-align: middle;
	width: 90px;
	height: 1px;
	margin: 0 30px
}

@media only screen and (min-width:576px) {
	.promo--front_2 .promo-slider__count::after {
		width: 120px
	}
}

.promo--front_2 .slider__arrows {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row
}

.promo--front_2 .slider__prev {
	margin: 0 13px 0 0
}

.promo--front_2 .promo-pannel {
	width: 100%;
	max-width: 290px;
	left: 0;
	bottom: 0;
	-webkit-transform: translate(0);
	-ms-transform: translate(0);
	transform: translate(0)
}

@media only screen and (min-width:576px) {
	.promo--front_2 .promo-pannel {
		max-width: 335px
	}
}

@media only screen and (min-width:768px) {
	.promo--front_2 .promo-pannel {
		left: auto;
		right: 0
	}
}

.promo--front_2 .promo-pannel__video {
	min-height: 130px
}

@media only screen and (min-width:768px) {
	.promo--front_2 .promo-pannel__video {
		min-height: 180px
	}
}

.promo--front_2 .promo-pannel__anchor {
	display: none
}

.promo--front_2+.section::before {
	display: none
}

.promo--front_3 .slider__nav--promo {
	top: auto;
	right: auto;
	left: 35px;
	bottom: 160px;
	-webkit-transform: translate(0);
	-ms-transform: translate(0);
	transform: translate(0);
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row
}

@media only screen and (min-width:768px) {
	.promo--front_3 .slider__nav--promo {
		bottom: 45px;
		right: 30px;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end
	}
}

@media only screen and (min-width:1367px) {
	.promo--front_3 .slider__nav--promo {
		right: 65px
	}
}

.promo--front_3 .promo-slider__count::after {
	display: inline-block;
	vertical-align: middle;
	width: 70px;
	height: 1px;
	margin: 0 30px
}

@media only screen and (min-width:576px) {
	.promo--front_3 .promo-slider__count::after {
		width: 120px
	}
}

.promo--front_3 .slider__arrows {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row
}

.promo--front_3 .slider__prev {
	margin: 0 13px 0 0
}

.promo--front_3 .promo-slider__item--style-1 .promo-slider__subtitle {
	margin: 25px auto 0 auto
}

.promo--front_3 .promo-pannel {
	width: 100%;
	bottom: 0;
	left: 0;
	-webkit-transform: translate(0);
	-ms-transform: translate(0);
	transform: translate(0);
	padding: 0
}

@media only screen and (min-width:992px) {
	.promo--front_3 .promo-pannel {
		max-width: 720px
	}
}

.promo--front_3 .promo-pannel__video {
	position: relative;
	min-height: 130px;
	max-width: 290px;
	background: rgba(53, 57, 118, .7)
}

@media only screen and (min-width:576px) {
	.promo--front_3 .promo-pannel__video {
		max-width: 335px
	}
}

@media only screen and (min-width:768px) {
	.promo--front_3 .promo-pannel__video {
		min-height: 170px
	}
}

.promo--front_3 .promo-slider .align-container {
	height: 760px
}

.promo--front_3 .promo-pannel__video img {
	z-index: -1
}

.promo-actual {
	color: #fff;
	display: none;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: calc(100% - 335px);
	background: #354463;
	padding: 15px 30px
}

.promo-actual__title {
	margin-bottom: 10px
}

.promo-actual__title a {
	color: #fff;
	text-decoration: none
}

.promo-actual__title a:hover {
	color: #c1f7d5
}

.promo-actual strong {
	color: #fff
}

.promo-actual p:not(:last-of-type) {
	margin-bottom: 5px
}

.promo-actual p:last-of-type {
	margin-bottom: 0
}